*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    background: royalblue;

}
.contact{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(173, 216, 230, 0.356);
}
.map{
   width: 100%;
   height: auto;
   flex: 50%;
}
.map iframe
{
  width: 100%;
  height: 100%;
}
.form{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
     
 }
 .form h1{
    margin-bottom: 10px;
 }
 .form-txt{
     width: 100%;
     height: 40px;
     color: black;
     border: 1px solid rgb(20, 128, 170);
     border-radius: 50px;
     outline:none;
     margin-bottom: 20px;
     padding: 15px;


 }
 .form-txt::placeholder
 {
     color:rgb(157, 157, 221);
 }
 .form-textarea{
    width: 100%;
    height: 130px;
    color: rgb(104, 115, 148);
    border: 1px solid rgb(20, 128, 170);
    border-radius: 50px;
    outline:none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .form-txt::placeholder
 {
     color:rgb(67, 67, 175);
 }
 .contact-form-btn{
   width: 100%;
   border:none ;
   outline: none;
    border-radius: 50px;
   background: rgb(50, 66, 155);
   color: rgb(202, 215, 226);
   text-transform: uppercase;
   padding: 10px 0;
   cursor: pointer;
   font-size:18px;
 }
 .contact-form-btn:hover{
    width: 100%;
    border:none ;
    outline: none;
     border-radius: 50px;
    background: rgb(34, 70, 187);
    color: rgb(206, 224, 240);
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size:18px;
  }
 h1{
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 100;
     color: blanchedalmond;
 }
 .form-txt{
     text-align: left;
 }
 .form-textarea{
     text-align: center;
     font-size: 15px;
 }